.back{
    background-color: #F9FAFC;
    font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
}

.back .header .trello-logo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.back .header .inner-part .box{
    max-width: 320px;
    margin: 0 auto;
    padding: 25px 40px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

.back .header .inner-part .box .error-catch{
    font-size: 14px;
}

.back .header .inner-part .box .error-catch .error-message{
    background: #eb5a46;
    color: #fbedeb;
    font-size: 14px;
    line-height: 1.333;
    border-radius: 4px;
    border: 1 px solid #eb5a46;
    display: inline-block;
    padding: .5em 1em;
    font-weight: 300;
}

.back .header .inner-part .box h1{
    text-align: center;
    color: #5e6c84;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.back .header .inner-part .box .login-form .mail{
    width: 320px;
    height: 44px;
    background-color: #fafbfc;
    padding: 7px;
    border: 2px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 16.8px;
    font-size: 14px;
}

.back .header .inner-part .box .login-form .password{
    width: 320px;
    height: 44px;
    background-color: #fafbfc;
    padding: 7px;
    border: 2px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 16.8px;
    font-size: 14px;
}

.back .header .inner-part .box .login-form .sub{
    width: 320px;
    height: 36.8px;
    background-color: #5AAC44;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    box-sizing: border-box;
    border-radius: .3em;
    box-shadow: none;
}

.back .header .inner-part .box .or{
    width: 320px;
    height: 28px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    /* margin-bottom: 5px; */
    color: #4d4d4d;
    line-height: 1.44em;
    font-weight: 300;
}

.back .header .inner-part .box .google-button{
    text-align: center;
    width: 99%;
    height: 39px;
    border: 1px solid #dfe1e6;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
}

.back .header .inner-part .box .google-button .google-login{
    font-weight: bold;
    color: #505f79;
    padding: 3px;
    height: 32px;
    line-height: 32px;
    background-color: white; 
}

.back .header .inner-part .box hr{
    margin-top: 25px;
    margin-bottom: 14px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(0,0%,80%);
    /* margin: 1em 0;
    padding: 0; */
}

.back .header .inner-part .box .forget-sign{
    width: 320px;
    height: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
    text-align: center;
}

.back .header .inner-part .privacy-service{
    width: 400px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 12px;
}

.back .foot{
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.back .foot .lang-select{ 
    width: 100%;
    height: 38px;
    margin-bottom: 16.8px;
    text-align: center;
}

.back .foot .lang-select #selecter{ 
    width: auto;
    height: 100%;
    background: none;
    color: #959da1;
    border: 2px solid #EDEFF0;
}

.back .foot .hr-logo{
    text-align: center;
    height: 66.7px;
}

.back .foot .hr-logo .atlassian{
    width: 150px;
    height: 19px;
    margin-top: 16.8px;            
    margin-bottom: 20px;
    vertical-align: center;
}

.back .foot .foot-list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 16.8px;
    max-width: 45%;
    height: 20px;
}

.back .foot .foot-list .list-btn{
    width: 28px;
    height: 20px;
    margin-left: 5.6px;
    margin-right: 5.6px;
    text-decoration: none;
    color: #4d4d4d;
}

.back .big-picture{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}