#background{
    background-color: #F9FAFC;
    font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
} 

#background #header{
    width: 100%;
    height: 153px;
}

#background #header .logo{
    width: 139.91px;
    height: 43px;
    margin: 40px 604.547px 40px 604.547px;
}

/* #background #header .logo{
    display: block;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
} */

#background #header .nav{
    width: 100%;
    height: 473.38px;
    overflow: visible;
    margin-bottom: 30px;
}

#background #header .nav .content{
    max-width: 400px;
    height: 473.38px;
    margin:0 474.5px 0 474.5px;
}

#background #header .nav .content .login{
    padding: 25px 40px;
    background-color: white;
}

#background #header .nav .content .login .lt{
    width: 320px;
    height: 28px;
    color: #4d4d4d;
    text-align: center;
    font-weight: 300;
    line-height: 1.44em;
}

#background #header .nav .content .login .container{
    width: 320px;
    /* height: 238px; */
    height: 159px;
    /* background-color: red; */
}



#background #header .nav .content .login .container .cf .formMail .mail{
    width: 302px;
    height: 44px;
    background-color: #fafbfc;
    padding: 7px;
    border: 2px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 16.8px;
}

#background #header .nav .content .login .container .cf .formPassword .password{
    width: 302px;
    height: 44px;
    background-color: #fafbfc;
    padding: 7px;
    border: 2px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 16.8px;
}

/* #background #header .nav .content .login .container .cf .sub{
    
    background-color: #5AAC44;
    text-align: center;
} */

#background #header .nav .content .login .container .cf .sub .subBtn{
    width: 302px;
    height: 36.8px;
    /* padding: 8.4px 18.2px 8.4px 18.2px; */
    background-color: #5AAC44;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
}

#background #header .nav .content .login .google-login .or{
    width: 320px;
    height: 28px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#background #header .nav .content .login .google-login .google{
    text-align: center;
    width: 99%;
    height: 39px;
    border: 1px solid #dfe1e6;
    border-radius: 3px;
}

#background #header .nav .content .login .google-login .google .icon{
    width: 18px;
    height: 18px;
    vertical-align: center;
}

#background #header .nav .content .login .google-login .google .use-google{
    font-weight: bold;
    color: #505f79;
    padding: 3px;
    height: 32px;
    line-height: 32px;
    background-color: white; 
}

#background #header .nav .content .login .line{
    margin-top: 25px;
    margin-bottom: 14px;
}

#background #header .nav .content .login .inside-other{
    width: 320px;
    height: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
    text-align: center;
}

#background #header .nav .content .login .inside-other .forget{
    text-decoration: none;
    color: #0052CC;
}

#background #header .nav .content .login .inside-other .sign{
    text-decoration: none;
    color: #0052CC;
}

#background #header .nav .content .out-other{
    width: 400px;
    height: 28px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}

#background #header .nav .content .out-other .policy{
    text-decoration: none;
    color: #0052CC;
}

#background #header .nav .content .out-other .service{
    text-decoration: none;
    color: #0052CC;
}

#background #header .trello-footer .language-select{
    width: 100%;
    height: 38px;
    margin-bottom: 16.8px;
    text-align: center;
} 

#background #header .trello-footer .language-select #selecter{
    width: auto;
    height: 100%;
    background: none;
    color: #959da1;
    border: 2px solid #EDEFF0;
}

#background #header .trello-footer .out-logo{
    text-align: center;
    height: 66.7px;
}

#background #header .trello-footer hr{
    max-width: 400px;
    /* height: 25px auto; */
}

#background #header .trello-footer .out-logo .logo2{
    width: 150px;
    height: 19px;
    margin-top: 16.8px;             /* margin-top : 1px*/
    margin-bottom: 20px;
    vertical-align: center;
}


#background #header .trello-footer .footer-list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 16.8px;
    /* background-color: red; */
    max-width: 45%;
    height: 20px;
}

#background #header .trello-footer .footer-list .list-btn{
    width: 28px;
    height: 20px;
    margin-left: 5.6px;
    margin-right: 5.6px;
    text-decoration: none;
    color: #4d4d4d;
}

#background .leftPic{
    background-color:red;
    width: 400px;
    height: 378px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -999;
    max-width: 30%;
}